@use '@angular/material' as mat;
@mixin page-404($theme, $app-theme) {
  $primary: map-get($theme, primary);
  .page-not-found {
    background-color: mat.get-contrast-color-from-palette($primary, 500);
    color: mat.get-color-from-palette($primary, 500);
  }
}
