.unlimited-input {
  /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
  mat-checkbox {
    float: right;
    margin-right: -105px;
    margin-top: 27px;
  }
}
