@use '@angular/material' as mat;
@mixin login-page-theme($theme, $app-theme) {
  $primary: map-get($theme, primary);

  .login {
    background-color: map-get($app-theme, app-background-color);
    &__title {
      color: mat.get-color-from-palette($primary);
    }
    &-message {
      color: mat.get-contrast-color-from-palette($primary, 500);
    }
  }

}
