@use '@angular/material' as mat;
@mixin home-page-endpoint-card-theme($theme, $app-theme) {
  $foreground: map-get($theme, foreground);

  .home-endpoint-card {
    &__content {
      border-top: 1px solid mat.get-color-from-palette($foreground, divider);
    }
  }

  .home-card__right {
    border-left: 1px solid mat.get-color-from-palette($foreground, divider);
    /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
    mat-card {
      border: 1px solid mat.get-color-from-palette($foreground, divider);;
    }
  }
}
