@use '~@angular/material' as mat;
@mixin app-dot-content($theme, $app-theme) {
  $primary: map-get($theme, primary);
  $foreground-colors: map-get($theme, foreground);
  .dot {
    background-color: mat.get-color-from-palette($primary, 500);
    color: mat.get-contrast-color-from-palette($primary, 500);
    &.disabled {
      background-color: map-get($foreground-colors, slider-off-active);
      color: mat.get-contrast-color-from-palette($primary, 500);
    }
  }
}
