mat-form-field {
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-infix {
    width: inherit;
  }
}

.cell-edit-variable {
  width: 100%;
}

.cell-value-variable {
  cursor: pointer;
}
