:host {
  flex: 1;
}

.usernames {
  display: flex;
  flex-direction: column;

  &__addRemove {
    padding-bottom: 35px;
    /* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
    mat-radio-button {
      padding-right: 20px;
    }
  }

  &__usernames {
    margin-bottom: 20px;
  }
}
